body{
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 14rem;

}

.card{
    justify-content: center;
    align-items: center;
    padding: .8rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

img{
    width: 12rem;
    border-radius: 8px;

}

h4{
    font-weight: 700;
    margin:.5rem;
}

h6{
    color: #88909E;
    font-weight: 400;
    margin:.8rem;

}